<p class="guild_stat_text guild_stat_text_collapsable" id="{{guild_data.id}}_owner">Owner: {{guild_data.owner.username}}#{{guild_data.owner.discriminator}}</p>
<div class="guild_stat_text guild_stat_text_collapsable_content first_level" id="{{guild_data.id}}_owner_content">
        <p class="guild_stat_text">ID: {{guild_data.owner.id}}</p>
        <p class="guild_stat_text">Username: {{guild_data.owner.username}}</p>
        <p class="guild_stat_text">Nickname: {{guild_data.owner.nickname}}</p>
        <p class="guild_stat_text">Discriminator: {{guild_data.owner.discriminator}}</p>
        <p class="guild_stat_text">Joining date: {{guild_data.owner.joined_date}}</p>
        <p class="guild_stat_text">Creation date: {{guild_data.owner.created_date}}</p>

        <div class="collapsable_clear_background" id="{{guild_data.owner.id}}_roles_owner_clear">
            <p class="guild_stat_text guild_stat_text_collapsable" id="{{guild_data.owner.id}}_roles_owner">Roles ({{guild_data.owner.roles.length}})</p>
            <div class="guild_stat_text guild_stat_text_collapsable_content second_level guild_roles" id="{{guild_data.owner.id}}_roles_owner_content">
                {{#each guild_data.owner.roles}}
                    {{> roles}}    
                {{/each}}
            </div>
        </div>
</div>