<p class="guild_stat_text guild_stat_text_collapsable" id="members">Members ({{guild_data.members.length}})</p>
<div class="guild_stat_text guild_stat_text_collapsable_content first_level guild_members" id="members_content">
    {{#each guild_data.members}}
        <div class="collapsable_clear_background" id="{{this.id}}_user_clear">
            <p class="guild_stat_text guild_stat_text_collapsable" id="{{this.id}}_user">{{this.username}}</p>
            <div class="guild_stat_text guild_stat_text_collapsable_content second_level" id="{{this.id}}_user_content">
                <p class="guild_stat_text">ID: {{this.id}}</p>
                <p class="guild_stat_text">Username: {{this.username}}</p>
                <p class="guild_stat_text">Nickname: {{this.nickname}}</p>
                <p class="guild_stat_text">Discriminator: {{this.discriminator}}</p>
                <p class="guild_stat_text">Joining date: {{this.joined_date}}</p>
                <p class="guild_stat_text">Creation date: {{this.created_date}}</p>

                <div class="collapsable_clear_background" id="{{this.id}}_roles_clear">
                    <p class="guild_stat_text guild_stat_text_collapsable" id="{{this.id}}_roles">Roles ({{this.roles.length}})</p>
                    <div class="guild_stat_text guild_stat_text_collapsable_content second_level guild_roles" id="{{this.id}}_roles_content">
                        {{#each this.roles}}
                            {{> roles}}    
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>    
    {{/each}}
</div>