<body>
        <div class="nadpis" style="position: fixed;"> <b class="nadpis_text_format">Příkazy</b> </div>
        <div class="bot_commands_placeholder_main">
            <div class="placeholder_father">
                <div class="slider_name">
                    <b class="slider_name_text">List příkazů</b>
                </div>
                <div class="prikaz_placeholder">
                    {{#each commands}}
                    <div class="prikaz" id="{{this.name}}" onclick="select_command(id)" style="cursor: pointer;"
                        data-command_description="{{this.command_description}}" data-command_usage="{{this.command_usage}}"
                        data-command_accessableby="{{this.command_accessableby}}" data-command_aliases="{{this.command_aliases}}">
                        <b class="prikaz_format" id="{{this.name}}_container">{{this.name}}</b>
                    </div>
                    {{/each}}
                </div>

            </div>
            <div class="placeholder_father">
                <div class="slider_name">
                    <b class="slider_name_text">Popis</b>
                </div>
                <div class="prikaz_placeholder">
                    <div class="popis_type">
                        <div class="popis_name_type">
                            <b class="popis_name_type_text">Name</b>
                            <b class="popis_text" id="name"></b>
                        </div>
                    </div>
                    <div class="popis_type">
                        <div class="popis_name_type">
                            <b class="popis_name_type_text">Description</b>
                            <b class="popis_text" id="description"></b>
                        </div>
                    </div>
                    <div class="popis_type">
                        <div class="popis_name_type">
                            <b class="popis_name_type_text">Usage</b>
                            <b class="popis_text" id="usage"></b>
                        </div>
                    </div>
                    <div class="popis_type">
                        <div class="popis_name_type">
                            <b class="popis_name_type_text">Accessableby</b>
                            <b class="popis_text" id="accessableby"></b>
                        </div>
                    </div>
                    <div class="popis_type">
                        <div class="popis_name_type">
                            <b class="popis_name_type_text">Aliases</b>
                            <b class="popis_text" id="aliases"></b>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a href="{{{host_value}}}main" class="back">
            <div class="back_placeholder">
                <h2>Back to Main menu<br></h2>
            </div>
        </a>

</body>