<body>
    <div class="nadpis">
        <b class="nadpis_text_format">Members Stats</b>
    </div>
    <div class="parts">
        <div class="slider_name">
            <b class="slider_name_text">NSBR</b>
        </div>
        <div class="column">
            <select class="user_stats_select" name="users" id="users" onchange="user_select()">
                <option value="" selected disabled hidden>Username</option>
                {{#each user}}
                <option value="{{this.id}}" data-avatar="{{this.avatar}}" data-name="{{this.username}}"
                    data-xp_xpToNextLevel="{{this.xp}}/{{this.xpToNextLevel}}" data-xp="{{this.xp}}"
                    data-xpToNextLevel="{{this.xpToNextLevel}}" data-level="{{this.level}}" data-allxp="{{this.allxp}}"
                    data-xp_color="{{this.xp_color}}">
                    {{this.username}}
                    #{{this.discriminator}}</option>
                {{/each}}
            </select>
        </div>
        <div class="column_for_invicible">
            <input value="Level" class="user_stats" type="text" id="level" disabled="disabled" />
        </div>
        <div class="column">
            <canvas class="user_stats" width="800" height="65" id="xp_canvas"
                style="width: 400px; border: 3px solid #2f3136;"></canvas>
        </div>
        <div class="column_for_invicible">
            <input value="All XP" class="user_stats" type="text" id="allxp" disabled="disabled" />

        </div>
        <div class="column">
            <canvas class="column_avatar" id="avatar_canvas" width="150" height="150"
                style="width: 150px; height: 150px;"></canvas>
        </div>
    </div>

    <a href="{{{host_value}}}main" class="back">
        <div class="back_placeholder">
            <h2>Back to Main menu<br></h2>
        </div>
    </a>
</body>