<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
    </script>
    <style>
        .columnmain {
            float: left;
            width: 150px;
            padding-top: 50px;
        }

        .column {
            float: left;
            width: 150px;


        }

        .rowmain::after {
            content: "";
            display: table;
            clear: both;
        }



        .row:after {
            content: "";
            display: table;
            clear: both;
            padding-top: 10px;
        }
    </style>
</head>

<body>



    <div class="rowmain">
        <div class="row">
            <b class="columnmain" style="width: 270px;">Username</b>
            <b class="columnmain">Level</b>
            <b class="columnmain">XP</b>
            <b class="columnmain">All XP</b>
        </div>

        {{#each user}}
        <div class="row">
            <output>
                <div class="column" style="width: 270px;">{{this.username}} #{{this.discriminator}}</div>
                <div class="column">{{this.level}}</div>
                <div class="column">{{this.xp}}/{{this.xpToNextLevel}}</div>
                <div class="column">{{this.allxp}}</div>
            </output>
        </div>
        {{/each}}

    </div>
</body>

</html>