<div class="top">
    <div class="stats_tab">
        <p class="stats_content">Guilds: {{guilds.length}}</p>
    </div>
</div>
<div class="middle">
    <div class="servers_coll">
        {{#each guilds}}
            <button class="server_btn" id="{{this.id}}" type="button">
                <img src="{{this.icon_url}}" alt="{{this.name}} ({{this.id}}) icon" class="server_icon" >
            </button>
        {{/each}}
    </div>
    <div class="servers_stats">
        {{#each guilds}}
            <div class="guild_info" id="{{this.id}}_stats">
                <div class="stat_middle">
                    <p class="stat_text">ID: {{this.id}}</p>
                    <p class="stat_text">Name: {{this.name}}</p>
                    <p class="stat_text">Owner: {{this.owner.username}}#{{this.owner.discriminator}} (TBD)</p>
                    <p class="stat_text">Members: {{this.members}}</p>
                    <p class="stat_text">Bots: {{this.bots}}</p>
                    <a href="/?guild_id={{this.id}}"><button class="view_btn"><p class="stat_text">View</p></button></a>
                </div>
                <div class="stat_top">
                    <img src="{{this.icon_url}}" alt="{{this.name}} ({{this.id}}) icon" class="stats_server_icon" >
                </div>
            </div>
        {{/each}}
    </div>
</div>









{{!--
{{#each guilds}}
    <button type="button" class="collapsible main_btn">
        <div class="guild_button">
            <img src="{{this.icon_url}}" alt="{{this.name}} ({{this.id}}) icon" class="icon" >
        </div>
        <div class="guild_button">
            <h3>{{this.name}} ({{this.id}})</h3>
        </div>
    </button>
    <div class="content">
        <button type="button" class="not_collapsible">ID: {{this.id}}</button>
        <button type="button" class="not_collapsible">Name: {{this.name}}</button>
        <button type="button" class="collapsible">
            <div class="guild_button">
                <img src="{{this.owner.avatar_url}}" alt="{{this.owner.username}} ({{this.owner.id}}) avatar" class="avatar" >
            </div>
            <div class="guild_button">
                <h4>Owner: {{this.owner.username}}#{{this.owner.discriminator}}</h3>
            </div>
        </button>
        <div class="content">
            <button type="button" class="not_collapsible">ID: {{this.owner.id}}</button>
            <button type="button" class="not_collapsible">Username: {{this.owner.username}}</button>
            <button type="button" class="not_collapsible">Nickname: {{this.owner.nickname}}</button>
            <button type="button" class="not_collapsible">Discriminator: {{this.owner.discriminator}}</button>
        </div>
        <button type="button" class="not_collapsible">Members: {{this.members}}</button>
        <button type="button" class="not_collapsible">Bots: {{this.bots}}</button>
        <a href="/?guild_id={{this.id}}"><button type="button" class="not_collapsible">View guild</button></a>
    </div>
{{/each}}
--}}