    <button type="button" class="collapsible">Guilds</button>
    <div class="content">
    {{#each guilds}}
        <button type="button" class="collapsible">{{this.id}} ({{this.name}})</button>
            <div class="content">
                <button type="button" class="not_collapsible">ID: {{this.id}}</button>

                <button type="button" class="not_collapsible">Name: {{this.name}}</button>

                <button type="button" class="not_collapsible">Created date: {{this.created_at}}</button>

                {{> owner}}

                {{> roles}}

                {{> bots}}

                {{> members}}

                {{> channels}}

                {{> invites}}

                {{> configs}}

            </div>
    {{/each}}
    </div>