    <button type="button" class="collapsible">Guilds</button>
    <div class="content">
    {{#each guilds}}
        <button type="button" class="collapsible">{{this.id}} ({{this.name}})</button>
            <div class="content">
                    <button type="button" class="not_collapsible">ID: {{this.id}}</button>
                    <button type="button" class="not_collapsible">Name: {{this.name}}</button>
                    <button type="button" class="not_collapsible">Bot count: {{this.bot_count}}</button>
                    <button type="button" class="not_collapsible">Member count: {{this.member_count}}</button>

                {{#if this.has_bots}}
                    <button type="button" class="collapsible">Bots</button>
                    <div class="content">
                    {{#each this.bots}}
                        <button type="button" class="collapsible">{{this.id}} ({{this.name}})</button>
                        <div class="content">
                            <button type="button" class="not_collapsible">ID: {{this.id}}</button>
                            <button type="button" class="not_collapsible">Name: {{this.name}}</button>
                            <button type="button" class="not_collapsible">Nickname: {{this.nickname}}</button>
                            <button type="button" class="not_collapsible">Discriminator: {{this.discriminator}}</button>
                            <button type="button" class="not_collapsible">Joined timestamp: {{this.joinedTimestamp}}</button>
                            <button type="button" class="not_collapsible">Joined date: {{this.joined_date}}</button>
                        </div>
                    {{/each}}
                    </div>
                {{/if}}

                {{#else}}
                    <button type="button" class="not_collapsible">Bots</button>
                {{/else}}

                {{#if this.has_members}}
                    <button type="button" class="collapsible">Members</button>
                    <div class="content">
                    {{#each this.members}}
                        <button type="button" class="collapsible">{{this.id}} ({{this.name}})</button>
                        <div class="content">
                            <button type="button" class="not_collapsible">ID: {{this.id}}</button>
                            <button type="button" class="not_collapsible">Name: {{this.name}}</button>
                            <button type="button" class="not_collapsible">Nickname: {{this.nickname}}</button>
                            <button type="button" class="not_collapsible">Discriminator: {{this.discriminator}}</button>
                            <button type="button" class="not_collapsible">Joined timestamp: {{this.joinedTimestamp}}</button>
                            <button type="button" class="not_collapsible">Joined date: {{this.joined_date}}</button>
                        </div>
                    {{/each}}
                    </div>
                {{/if}}

                {{#else}}
                    <button type="button" class="not_collapsible">Members</button>
                {{/else}}

                <button type="button" class="collapsible">Config</button>
                <div class="content">
                    {{#each this.config}}
                        <button type="button" class="not_collapsible">{{this.name}}: {{this.value}}</button>
                    {{/each}}
                </div>

            </div>
    {{/each}}
    </div>